body,
h1,
h2,
h3,
h4,
h5,
h6,
.h4,
p,
div,
dt,
dd,
a {
  font-family: "Microsoft Yahei", "Helvetica Neue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
.wd-50 {
  width: 50px;
}
.wd-100 {
  width: 100px;
}
.wd-150 {
  width: 150px;
}
.wd-200 {
  width: 200px;
}
.wd-250 {
  width: 250px;
}
.wd-300 {
  width: 300px;
}
.wd-350 {
  width: 350px;
}
.wd-400 {
  width: 400px;
}
.wd-450 {
  width: 450px;
}
.wd-500 {
  width: 500px;
}
.wd-550 {
  width: 550px;
}
.wd-600 {
  width: 600px;
}
.height-240 {
  height: 240px;
}
.height-260 {
  height: 260px;
}
.height-100 {
  height: 100px;
}
.height-200 {
  height: 200px;
}
.height-300 {
  height: 300px;
}
.height-400 {
  height: 400px;
}
.height-500 {
  height: 500px;
}
.height-600 {
  height: 600px;
}
.height-700 {
  height: 700px;
}
.height-800 {
  height: 800px;
}
.height-900 {
  height: 900px;
}
.height-1000 {
  height: 1000px;
}
.pd-5 {
  padding: 5px;
}
.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.pd-25 {
  padding: 25px;
}
.pd-30 {
  padding: 30px;
}
.pd-35 {
  padding: 35px;
}
.pd-40 {
  padding: 40px;
}
.pd-lf-5 {
  padding-left: 5px;
}
.pd-lf-10 {
  padding-left: 10px;
}
.pd-lf-15 {
  padding-left: 15px;
}
.pd-lf-20 {
  padding-left: 20px;
}
.pd-lf-25 {
  padding-left: 25px;
}
.pd-lf-30 {
  padding-left: 30px;
}
.pd-lf-35 {
  padding-left: 35px;
}
.pd-lf-40 {
  padding-left: 40px;
}
.pd-rt-5 {
  padding-right: 5px;
}
.pd-rt-10 {
  padding-right: 10px;
}
.pd-rt-15 {
  padding-right: 15px;
}
.pd-rt-20 {
  padding-right: 20px;
}
.pd-rt-25 {
  padding-right: 25px;
}
.pd-rt-30 {
  padding-right: 30px;
}
.pd-rt-35 {
  padding-right: 35px;
}
.pd-rt-40 {
  padding-right: 40px;
}
.pd-top-5 {
  padding-top: 5px;
}
.pd-top-10 {
  padding-top: 10px;
}
.pd-top-15 {
  padding-top: 15px;
}
.pd-top-20 {
  padding-top: 20px;
}
.pd-top-25 {
  padding-top: 25px;
}
.pd-top-30 {
  padding-top: 30px;
}
.pd-top-35 {
  padding-top: 35px;
}
.pd-top-40 {
  padding-top: 40px;
}
.pd-btn-15 {
  padding-bottom: 15px;
}
.pd-btn-20 {
  padding-bottom: 20px;
}
.pd-topbtn-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pd-topbtn-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.marg-top-5 {
  margin-top: 5px;
}
.marg-top-10 {
  margin-top: 10px;
}
.marg-top-15 {
  margin-top: 15px;
}
.marg-top-20 {
  margin-top: 20px;
}
.marg-top-25 {
  margin-top: 25px;
}
.marg-top-30 {
  margin-top: 30px;
}
.marg-top-35 {
  margin-top: 35px;
}
.marg-top-40 {
  margin-top: 40px;
}
.marg-top-45 {
  margin-top: 45px;
}
.marg-top-50 {
  margin-top: 50px;
}
.marg-top-55 {
  margin-top: 55px;
}
.marg-top-60 {
  margin-top: 60px;
}
.marg-top-65 {
  margin-top: 65px;
}
.marg-top-70 {
  margin-top: 70px;
}
.marg-top-75 {
  margin-top: 75px;
}
.marg-top-80 {
  margin-top: 80px;
}
.marg-auto {
  margin-left: auto;
  margin-right: auto;
}
.marg-lf-10 {
  margin-left: 10px;
}
.marg-lf-25 {
  margin-left: 25px;
}
.marg-rt-0 {
  margin-right: 0px !important;
}
.marg-rt-10 {
  margin-right: 10px;
}